﻿


/*Media Queries for sub landing pages*/


@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */
    table.h-tbl {
        margin-top: 10px;
    }

        table.h-tbl img {
            height: 32px;
            margin-left: 9px;
            margin-top: 6px;
        }

        table.h-tbl h3 {
            font-size: 20px;
            margin: 0px;
        }

        table.h-tbl img:hover {
            opacity: 0.5;
        }

    table.yn-tbl {
        width: 100px;
        float: left;
    }

        table.yn-tbl td {
            height: 40px;
        }

            table.yn-tbl td input {
                margin-right: 10px;
            }

            table.yn-tbl td label {
                font-size: 13px;
            }
}

@media (min-width:480px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    table.h-tbl {
        margin-top: 10px;
    }

        table.h-tbl img {
            height: 36px;
            margin-left: 9px;
            margin-top: 6px;
        }

        table.h-tbl h3 {
            font-size: 20px;
            margin: 0px;
        }

        table.h-tbl img:hover {
            opacity: 0.5;
        }

    table.yn-tbl {
        width: 100px;
        float: left;
    }

        table.yn-tbl td {
            height: 40px;
        }

            table.yn-tbl td input {
                margin-right: 10px;
            }

            table.yn-tbl td label {
                font-size: 13px;
            }
}

@media (min-width:640px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    table.h-tbl {
        margin-top: 10px;
    }

        table.h-tbl img {
            height: 43px;
            margin-left: 9px;
        }

        table.h-tbl h3 {
            font-size: 20px;
            margin: 0px;
        }

        table.h-tbl img:hover {
            opacity: 0.5;
        }

    table.yn-tbl {
        width: 100px;
        float: right;
    }

        table.yn-tbl td {
            height: 40px;
        }

            table.yn-tbl td input {
                margin-right: 10px;
            }

            table.yn-tbl td label {
                font-size: 13px;
            }
}


@media (min-width:768px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    table.h-tbl {
        margin-top: 10px;
    }

        table.h-tbl img {
            height: 43px;
            margin-left: 9px;
        }

        table.h-tbl h3 {
            font-size: 20px;
            margin: 0px;
        }

        table.h-tbl img:hover {
            opacity: 0.5;
        }

    table.yn-tbl {
        width: 100px;
        float: right;
    }

        table.yn-tbl td {
            height: 40px;
        }

            table.yn-tbl td input {
                margin-right: 10px;
            }

            table.yn-tbl td label {
                font-size: 13px;
            }
}


@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
    table.h-tbl {
        margin-top: 10px;
    }

        table.h-tbl img {
            height: 43px;
            margin-left: 9px;
        }

        table.h-tbl h3 {
            font-size: 20px;
            margin: 0px;
        }

        table.h-tbl img:hover {
            opacity: 0.5;
        }

    table.yn-tbl {
        width: 100px;
        float: right;
    }

        table.yn-tbl td {
            height: 40px;
        }

            table.yn-tbl td input {
                margin-right: 10px;
            }

            table.yn-tbl td label {
                font-size: 13px;
            }
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    table.h-tbl {
        margin-top: 10px;
    }

        table.h-tbl img {
            height: 43px;
            margin-left: 9px;
        }

        table.h-tbl h3 {
            font-size: 20px;
            margin: 0px;
        }

        table.h-tbl img:hover {
            opacity: 0.5;
        }

    table.yn-tbl {
        width: 100px;
        float: right;
    }

        table.yn-tbl td {
            height: 40px;
        }

            table.yn-tbl td input {
                margin-right: 10px;
            }

            table.yn-tbl td label {
                font-size: 13px;
            }
}

@media (min-width:1281px) { /* hi-res laptops and desktops */
    table.h-tbl {
        margin-top: 10px;
    }

        table.h-tbl img {
            height: 43px;
            margin-left: 9px;
        }

        table.h-tbl h3 {
            font-size: 20px;
            margin: 0px;
        }

        table.h-tbl img:hover {
            opacity: 0.5;
        }

    table.yn-tbl {
        width: 100px;
        float: right;
    }

        table.yn-tbl td {
            height: 40px;
        }

            table.yn-tbl td input {
                margin-right: 10px;
            }

            table.yn-tbl td label {
                font-size: 13px;
            }
}

@media (min-width:1681px) { /* hi-res laptops and desktops */
    table.h-tbl {
        margin-top: 10px;
    }

        table.h-tbl img {
            height: 43px;
            margin-left: 9px;
        }

        table.h-tbl h3 {
            font-size: 20px;
            margin: 0px;
        }

        table.h-tbl img:hover {
            opacity: 0.5;
        }

    table.yn-tbl {
                float:right;
    }

        table.yn-tbl td {
            height: 40px;
        }

            table.yn-tbl td input {
                margin-right: 10px;
            }

            table.yn-tbl td label {
                font-size: 13px;
            }
}
