﻿body {
}


/*.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background:none !important;
    border: 1px solid #fff;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom:0px solid #000;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background: none !important;
    border: 1px solid #fff;
    border-radius:5px;
    border-bottom-color: #fff;
}

.nav-tabs>li>a {
    color:#fff;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
}

.nav-tabs>li>a:hover {
    color:#000;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
}*/



.modal-content {
    position: relative;
    /*background-color: #fff;*/
    background: rgba(255, 255, 255, 0.93) !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px !important;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}


.modal-forms {
}

    .modal-forms p {
        line-height: 22px;
        margin-bottom: 15px;
    }


    .modal-forms input {
        padding: 8px;
        background: #fff;
        width: 100%;
        margin-bottom: 8px;
        border-radius: 3px;
        border: 0px;
        outline: none;
    }

    .modal-dialog {
        max-width: 810px;
        margin: 30px auto;
    }
