body {
    height: 100%;
}

html {
    height: 100%;
}

.login-bg {
    background-image: url('../webskin/login-bg.jpg');
    background-repeat: no-repeat;
    /*background:#43cde1;*/
}

.intro-bg {
    background: #24aed5;
    background-image: url(../webskin/intro-bg.jpg);
    background-repeat: no-repeat;
    /* background: #43cde1; */
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0,0,0,0.3);
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #323232;
}


table.log-tbl {
    width: 100%;
    height: 100%;
}

.col-1 {
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.col-2 {
    height: 100%;
    background: #fff;
}

.header-d {
    width: 100%;
    height: 66px;
    background: #405960;
    position: absolute;
    top: 0px;
    z-index: 1000;
}

    .header-d h3 {
        color: #fff;
    }

.no-pad {
    padding: 0px;
}

.frm-cnt {
}

.log-div {
    max-width: 320px;
    height: 500px;
    margin: auto;
    /*border: 1px #fff solid;*/
    padding: 10px;
    margin-top: 25px;
}

    /*.log-div input {
        padding: 8px;
        background: #fff;
        outline: none;
        border: 0px;
        border-radius: 3px;
        width: 100%;
        -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
        -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
        box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
    }*/

    .log-div h3 {
        color: #fff;
        text-align: center;
    }

    .log-div p {
        color: #fff;
        text-align: center;
    }

.f-div {
    background: #fff;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
    -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
    margin-bottom: 10px;
}

table.field-div {
    width: 100%;
}


    table.field-div input {
        padding: 8px;
        background: #fff;
        outline: none;
        border: 0px;
        width: 100%;
    }


.log-btn {
    width: 100px;
    height: 100px;
    background: #36c744;
    border-radius: 75px;
    margin: auto;
    display: block;
    margin-top: 20px;
    border: 2px #fff solid;
    transition: 0.5s;
}

    .log-btn:hover {
        background: #25ae32;
        -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.80);
        -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.80);
        box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.80);
    }


    .log-btn a {
        color: #fff;
        display: block;
        text-align: center;
        vertical-align: middle;
        line-height: 97px;
        font-size: 17px;
        text-decoration: none;
    }

.reg-div {
    max-width: 550px;
    height: 500px;
    margin: auto;
    /*border: 1px #fff solid;*/
    padding: 10px;
    margin-top: 25px;
}

    .reg-div h3 {
        color: #fff;
        text-align: center;
    }

    .reg-div p {
        color: #fff;
        text-align: center;
    }

    .reg-div input {
        padding: 10px;
        background: #fff;
        outline: none;
        border: 0px;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
        -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
        -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
        box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
    }

.content-div {
    padding: 50px;
    background-image: url('../webskin/content-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

    .content-div h3 {
        color: #405960;
        margin: 0px;
        margin-bottom: 20px;
    }

    .content-div p {
        color: #405960;
        font-size: 15px;
    }

    .content-div ul {
        line-height: 25px;
    }


.box-div {
    max-width: 290px;
    height: 290px;
    margin: auto;
    border-radius: 4px;
    margin-bottom: 15px;
    position: relative;
    display: block !important;
    background: #fff;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
    -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
}

    .box-div h5 {
        text-align: left;
        font-size: 16px;
    }

.box-div-img {
    float: left;
    margin: 10px;
}

.box-footer {
    position: absolute;
    bottom: 0px;
    background: rgba(50, 50, 50, 0.17);
    padding: 16px;
    width: 100%;
}

    .box-footer h4 {
        color: #405960;
        text-align: left;
    }

.boxes-outer {
    max-width: 930px;
    margin: auto;
    min-height: 150px;
}

.user-i-div {
    max-width: 950px;
    margin: auto;
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 25px;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.logout-ic {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1000;
}

.wrapper {
    width: 100%;
    min-height: 210px;
}



/* ------------------------------New Css 19-10-2016 ------------------------------------*/


/*table.h-tbl {
    margin-top: 10px;
    
}

    table.h-tbl img {
        height: 43px;
        margin-left: 9px;
    }

    table.h-tbl h3 {
        font-size: 20px;
        margin: 0px;
    }

    table.h-tbl img:hover {
        opacity: 0.5;
    }*/

table.bx-tbl {
    width: 100%;
}

    table.bx-tbl td {
        width: 100%;
    }

        table.bx-tbl td p {
            color: #888888;
            margin-left: 15px;
            margin-top: 10px;
        }

ul.bx-link {
    margin: 0px;
    padding: 0px;
}

    ul.bx-link li {
        list-style: none;
        margin: 0px 0px 0px 15px;
    }

        ul.bx-link li a {
            color: #3b3d3e;
            transition: 0.5s;
            text-decoration: none;
        }

            ul.bx-link li a:hover {
                color: #3b3d3e;
                margin-left: 10px;
                color: #868686;
            }




.heading {
    text-align: center;
    color: #fff;
}



@media (min-width:1200px) {
    .container {
        width: 1200px;
    }
}

.store-bx {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 15px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
    -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.17);
}

table.card-tbl {
    width: 100%;
}

.left-crd {
    padding: 16px;
}

    .left-crd p {
        margin: 0px;
    }

.right-crd {
    width: 120px;
    background: #4c7681;
    height: 70px;
    border-radius: 4px;
    transition: 0.5s;
}

    .right-crd:hover {
        background: #36c744;
    }

    .right-crd a {
        color: #fff;
        display: block;
        text-decoration: none;
    }

.search-div {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 10px;
    transition: 0.5s;
}

    .search-div:hover {
        -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.50);
        -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.50);
        box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.50);
    }

    .search-div input {
        padding: 10px;
        border-radius: 4px;
        border: 1px #ccc solid;
        width: 100%;
        outline: none;
    }



/*--------------------------------------------*/


/*-----------------*/
.board {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: -15px;
    height: 500px;
    background: #fff;
    border-radius: 4px;
    /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}

    .board .nav-tabs {
        position: relative;
        /* border-bottom: 0; */
        /* width: 80%; */
        margin: 40px auto;
        margin-bottom: 0;
        box-sizing: border-box;
    }

    .board > div.board-inner {
        background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
        background-size: 30%;
        border-radius: 4px;
    }

p.narrow {
    width: 60%;
    margin: 10px auto;
}

.liner {
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs {
    width: 80px;
    height: 80px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

    span.round-tabs.one {
        color: rgb(34, 194, 34);
        border: 2px solid rgb(34, 194, 34);
    }

li.active span.round-tabs.one {
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two {
    color: #febe29;
    border: 2px solid #febe29;
}

li.active span.round-tabs.two {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three {
    color: #3e5e9a;
    border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four {
    color: #f1685e;
    border: 2px solid #f1685e;
}

li.active span.round-tabs.four {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five {
    color: #999;
    border: 2px solid #999;
}

li.active span.round-tabs.five {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.nav-tabs > li.active > a span.round-tabs {
    background: #fafafa;
}

.nav-tabs > li {
    width: 16.5%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition: 0.1s ease-in-out;
}

li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
}

.nav-tabs > li a {
    width: 80px;
    height: 80px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .nav-tabs > li a:hover {
        background: transparent;
    }

.tab-content {
}

.tab-pane {
    position: relative;
    padding-top: 0px;
}

    .tab-pane p {
        margin-bottom: 0px;
    }

.tab-content .head {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.btn-outline-rounded {
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green {
    background-color: #5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}



@media( max-width : 585px ) {

    .board {
        width: 90%;
        height: auto !important;
    }

    span.round-tabs {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .tab-content .head {
        font-size: 20px;
    }

    .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .btn-outline-rounded {
        padding: 12px 20px;
    }
}


ul.value-ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
}

    ul.value-ul li {
        border-bottom: 1px #ccc dotted;
        padding: 10px;
    }



/*New style sheet -------------- 21-10-2016*/

.usercard-div {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 10px;
    transition: 0.5s;
}

    .usercard-div span {
        font-weight: bold;
    }

    .usercard-div p {
        margin-bottom: 0px;
    }

    .usercard-div input {
        padding: 6px;
        width: 100%;
        margin-top: 5px;
        border-radius: 4px;
        border: 1px #ccc solid;
        outline: none;
        margin-bottom: 10px;
    }

    .usercard-div select {
        padding: 7px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px #ccc solid;
    }

    .usercard-div button {
    }

.no-pad {
    padding: 0px;
}

#panel {
    display: none;
}

#panel1 {
    display: none;
}

.audit-r-div {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 10px;
    transition: 0.5s;
}

    .audit-r-div:hover {
        -webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.50);
        -moz-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.50);
        box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.50);
    }

    .audit-r-div select {
        padding: 10px;
        border-radius: 4px;
        border: 1px #ccc solid;
        width: 100%;
        outline: none;
    }

.creat-user {
}

    .creat-user h4 {
        margin: 0px;
        padding: 12px;
    }


.create-user-tbl {
    width: 100%;
}

    .create-user-tbl td span {
        font-size: 16px;
        font-weight: bold;
        color: #405960;
        margin-left: 10px;
    }




.c-usercard-div {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 10px;
    transition: 0.5s;
}

    .c-usercard-div span {
        font-weight: normal;
    }

    .c-usercard-div p {
        margin-bottom: 0px;
    }

    .c-usercard-div input {
        padding: 6px;
        width: 100%;
        margin-top: 5px;
        border-radius: 4px;
        border: 1px #ccc solid;
        outline: none;
        margin-bottom: 10px;
    }

    .c-usercard-div select {
        padding: 7px;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px #ccc solid;
    }

    .c-usercard-div button {
    }

.uploadimg {
}

    .uploadimg:hover {
        opacity: 0.5;
    }

#cuserfrm {
    display: none;
}

ul.value-ul li h4 {
    /*border:1px rgb(15, 153, 224) solid;*/
    padding: 10px;
    font-size: 16px;
    background: rgba(148, 148, 148, 0.17);
}

.files-div {
    padding: 15px 0px;
}

    .files-div p {
        font-weight: bold;
    }

    .files-div span {
        padding: 0px 5px;
    }

.element-d {
    padding: 10px 15px;
    border: 1px #d1d1d1 solid;
    display: -webkit-inline-box;
    float: left;
    margin-right: 5px;
}


.search-div select {
    padding: 10px;
    border-radius: 4px;
    border: 1px #ccc solid;
    width: 100%;
    outline: none;
}


/* New Css 21-11-2016*/
.pop-form {
}

    .pop-form input {
        padding: 6px 13px;
        margin-top: 0px;
        width: 100%;
        margin-bottom: 5px;
        border: 1px #ececec solid;
    }

.state-pending {
    border: 2px #f70a0a solid !important;
}

    .state-pending h4 {
        margin: 0px;
    }

.satate-completed {
    border: 2px rgb(34, 194, 34) solid !important;
}

    .satate-completed h4 {
        margin: 0px;
    }


table.pop-res-tble {
    width: 100%;
}

    table.pop-res-tble td {
    }
